@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
.main{
    display: flex;
    justify-content: center;
}

.container{
    width: 80%;
    background: #a598984a;
    border-radius: 50px;
    background-image: url("wh0-we-are-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
   
    padding: 30px;
}
.container1{
    display: flex;
    flex-wrap: wrap;
}
.sec1{
    width: 100%;
    padding-top: 20px;
}
.sec2{
    display: none;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:40px;
}
.sec3{ 
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    background: #60a4de99;
    margin-right: 2%px;
    margin-bottom:30px;
    
}
.sec4{
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    background: #60a4de99;
    margin-left: 2%px;
}
.img1{
    width: 90%;
}
.container4{
    display: flex;
    background: #60a4de99;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
   
    border-radius: 30px;
}
.sec5{
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
}
.sec6{
    
    display: none;
    width: 25%;
    justify-content: center;
}
.img2{
    width: 100%;
    text-align: center;
}
.container5{
    display: flex;
    justify-content: center;
}
.sec7{
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    background: #60a4de99;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1{
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0px;
}

.head1{
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color:#034ab4 ;
    /* The typwriter cursor */
    
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      
  }
 
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  } 

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color:  transparent }
    50% { border-color: transparent }
  }

h2{
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #034ab4;
}
.head{
    text-align: left;
    font-weight: 600;
    margin-bottom: 0px;
}
h3{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
span{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.link1{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}


@media screen and (min-width: 1000px) {
    .sec3{ 
        width: 43%;
        padding: 20px;
        border-radius: 30px;
        background: #60a4de99;
        margin-right: 2%;
        margin-bottom:0px;
        transition: width 1s, height 1s, background-color 1s, transform 1s;
    }
    .container1{
        padding-left: 20px;
    }
    .container2{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
           margin-top:40px;
    }
    .sec4{
        width: 43%;
        padding: 20px;
        border-radius: 30px;
        background: #60a4de99;
        margin-left: 2%;
        transition: width 1s, height 1s, background-color 1s, transform 1s;
    }
    .sec2{
        display: flex;
        width: 30%;
        transition: width 1s, height 1s, background-color 1s, transform 1s;
        flex-wrap: wrap;
        justify-content: center;
    }
    .sec1{
        width: 70%;
        background-image: url("blue-shape-png-3.png");   
        transition: width 1s, height 1s, background-color 1s, transform 1s;
        background-size: 100%100%;
        background-repeat: no-repeat;      
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .heading{
        margin-top: 0px;
    }
    .head-dis{
        font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
    }
    
    .container4{
        transition: width 1s, height 1s, background-color 1s, transform 1s;
    }
    .container4:hover{
        transform: scale(1.05);
    }
     .sec2:hover, .sec3:hover, .sec4:hover, .sec7:hover{
        transform: scale(1.05);
    }
    .sec6{
        width: 25%;
        display: flex;
        justify-content: center;
        transition: width 1s, height 1s, background-color 1s, transform 1s;
    }
    .container4{
        display: flex;
        background: #60a4de99;
        padding: 20px;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right:20px;
        border-radius: 30px;
    }
    .sec5{
        width: 75%;
        padding: 20px;
        flex-wrap: wrap;
        display: flex;
        transition: width 1s, height 1s, background-color 1s, transform 1s;
    }
    .sec7{
        width: 100%;
        padding: 20px;
        border-radius: 30px;
        background: #c4b5c7;
        margin: 20px;
        transition: width 1s, height 1s, background-color 1s, transform 1s;
    }
    .container{
        width: 75%;
        background: #a598984a;
        border-radius: 50px;
        margin: 30px;
        padding: 30px;
    }
    .sec7{
        width: 100%;
        padding: 20px;
        border-radius: 30px;
        background: #60a4de99;
        margin: 20px;
    }
    .head1{
        font-family: 'Montserrat';
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        color:#034ab4 ;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid orange; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        animation: 
          typing 3.5s steps(30, end),
          blink-caret .5s step-end infinite;
          
      }
     
    /* The typing effect */
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      } 
    
    /* The typewriter cursor effect */
    @keyframes blink-caret {
        from, to { border-color:  transparent }
        50% { border-color: transparent }
      }
    
  }



  
  